################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/store_desktop_app/Form1.cs
